/** About Page **/
.tw-badge {
    background: url(../images/tweet-wheel-logo-big.png) center 24px/85px 85px no-repeat #fff;
    -webkit-background-size: 85px 85px;
    color: #78c8e6;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 0;
    padding-top: 120px;
    height: 40px;
    display: inline-block;
    width: 150px;
    text-rendering: optimizeLegibility;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    right: 0;
}

.tw-metabox .section-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
}

.tw-metabox .section-note {
    display: block;
    font-size: 12px;
    color: #a1a1a1;
    font-style: italic;
    margin-bottom: 10px;
}

/** Tweet Templates **/
#tw-tweet-templates .inside { margin-top: 12px; }

#tw-tweet-templates .tw-template-learn-more {
    text-decoration: none;
    position: relative;
    top: 5px;
    float: right;
}

#tw-tweet-templates .tw-template-learn-more-content {
    border: 1px solid #eee;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
    display: none;
}

#tw-tweet-templates .tw-template-learn-more-content p {
    margin-top: 0px
}

#tw-tweet-templates .tw-template-learn-more-content ul {
    margin-bottom: 0px
}

#tw-tweet-templates .tweet-template-item {
    margin-top: 12px;
}

#tw-tweet-templates .tweet-template-item .control {
    float: left;
    width: 40px;
    cursor: pointer;
    text-align: left;
    position: relative;
    z-index: 20;
}

#tw-tweet-templates .tweet-template-item div {
    width: 100%;
    margin-right: -40px;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
}

#tw-tweet-templates .tweet-template-item textarea {
    resize: none;
    height: 30px;
    padding: 5px;
    padding-right: 30px;
    border-radius: 4px;
    position: relative;
    z-index: 10;
}

#tw-tweet-templates .tweet-template-item textarea.error {
    border: 1px solid #830000;
}

#tw-tweet-templates .tweet-template-item label.error {
    display: inline-block;
    background: #830000;
    color: #fff;
    padding: 4px;
    position: relative;
    top: -6px;
    border-radius: 0px 0px 4px 4px;
    z-index: 5px;
}

#tw-tweet-templates .counter {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
    cursor: default;
    background: #4E98D4;
    border-radius: 0px 4px 0px 4px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: block;
    padding: 0px 4px;
}

#tw-tweet-templates .counter.too-long {
    background: #830000;
}

/* Tweet Wheel General Settings */
#tw-general .title {
    margin: 0px;
}

#tw-general textarea {
    width: 100% !important;
}

/* Tweet Wheel Schedule */
#tw-schedule * {
	box-sizing: border-box;
}

#tw-schedule th,
#tw-schedule h3,
#tw-schedule input[type="checkbox"],
#tw-schedule .nav-tab-wrapper { display: none; }
#tw-schedule td { padding: 0px; }

#tw-schedule .form-table {
    margin-top: 20px;
}

#tw-schedule label {
	width: 123px;
	background: #fff;
	display: inline-block;
	line-height: 40px;
	height: 40px;
	text-transform: uppercase;
	padding: 0px 10px;
	cursor: pointer;
	border: 1px solid #E4E4E4;
	border-right: none;
	text-align: center;
	margin-right: -4px;
}

#tw-schedule label:first-of-type {
	border-radius: 5px 0px 0px 5px;
}

#tw-schedule label:last-of-type {
	border-radius: 0px 5px 5px 0px;
	border-right: 1px solid #E4E4E4;
}

#tw-schedule label:hover {
	background: #FDFDFD;
}

#tw-schedule label.active {
	background: #62ABDB;
	color: #fff;
}

#tw-schedule .times-wrapper {
	margin-top: 20px;
	width: 859px;
	border: 1px solid #E4E4E4;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
}

#tw-schedule .times-wrapper ul,
#tw-schedule .times-wrapper li {
	margin: 0px;
}

#tw-schedule .times-wrapper h4 {
	border-bottom: 1px solid #E4E4E4;
	margin: 0px 0px 10px 0px;
	padding-bottom: 10px;
}

#tw-schedule .times li {
    margin-top: 10px;
}

#tw-schedule .remove-time {
    position: relative;
    top: 4px;
    cursor: pointer;
    margin-right: 4px;
}

/** Tweet Preview on Post Edit Page **/
.mb-tweet-preview {
    padding: 20px 80px 0px 80px;
    background: #eee;
    position: relative;
    overflow: hidden;
}

.mb-tweet-preview:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    content: '';
    z-index: 10;
}

.mb-tweet-preview .tweets-column {
    max-width: 590px;
    position: relative;
    bottom: -20px;
    margin: auto;
}

.mb-tweet-preview .tweets-column ul {
    margin: 0px;
}

.mb-tweet-preview .tweets-column li {
    border: 1px solid #e1e8ed;
    border-top: 0px;
    margin: 0px;
    padding: 10px 12px;
    background: #fff;
    padding-left: 70px;
    position: relative;
}

.mb-tweet-preview .tweets-column li .avatar {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-left: -58px;
}

.mb-tweet-preview .tweets-column li .avatar.small {
    width: 32px;
    height: 32px;
    left: 16px;
    top: 3px;
    position: relative;
}

.mb-tweet-preview .tweets-column .preview-box {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #BFE0EC;
    background: #E5F2F7;
}

.mb-tweet-preview .tweets-column .preview-box #tweet-preview-box {
    margin: 0px;
    border-radius: 3px;
    border: 1px solid #99CDE1;
    outline: 0;
    line-height: 20px;
    padding: 8px 10px;
    resize: none;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    min-height: 38px;
}

.mb-tweet-preview .tweets-column .preview-box #tweet-preview em {
    background: #FFB2B7;
}

.mb-tweet-preview .tweets-column .fake-tweet p {
    margin: 0px;
}

.mb-tweet-preview .pull-right {
    float: right;
}

.mb-tweet-preview li:after {
    content: '';
    display: table;
    clear: both;
}

.mb-tweet-preview #count {
    position: absolute;
    left: 20px;
    top: 0px;
    background: #fff;
    color: #888;
    display: block;
    padding: 2px 4px;
}

@media screen and (max-width: 480px) {
    
    .mb-tweet-preview {
        padding: 20px 10px 0px 10px;
    }
    
}

/* Tweet Wheel Queue */
#tw-queue * {
    box-sizing: border-box;
}

#tw-queue {
    width: 100%;
    max-width: 850px;
    min-width: 500px;
    text-align: center;
    background: #FDFDFD;
    margin-top: 20px;
    border: 1px solid #E4E4E4;
    padding: 5px;
    position: relative;
}

#tw-queue.empty {
    padding: 40px 0px;
}

.error.tw-empty-queue-alert {
    background: #4F98D5;
    border: 0px;
    color: #fff;
}

#tw-queue .queue-tools {
    text-align: left;
    margin: 0px;
}

#tw-queue .queue-tools li {
    display: inline-block;
}

#the-queue ul {
    margin: 5px 0px 0px 0px;
}

#the-queue .the-queue-item {
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 0px;
}

#the-queue .the-queue-item:last-of-type {
    margin: 0px;
}

#the-queue .the-queue-item.tweeted {
    background: #fff;
    opacity: 0.5;
}

#the-queue .the-queue-item.tweeted .post-header .title {
    padding-left: 8px;
}

#the-queue .the-queue-item.tweeted .post-header time {
    display: block;
    border-top: 1px solid #eee;
    margin: 0px 8px;
    padding: 2px 0px;
    text-transform: uppercase;
    font-size: 11px;
}

#the-queue .the-queue-item.tweeted:hover {
    opacity: 1;
}

#the-queue .the-queue-item .post-header {
    position: relative;
    text-align: left;
}

#the-queue .the-queue-item .post-header .title {
    cursor: pointer;
    display: block;
    padding: 8px 8px 8px 48px;
    font-weight: bold;
}

#the-queue .the-queue-item .post-header .drag-handler { 
    cursor: move; 
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 100%;
    border-right: 1px solid #eee;
    display: block;
    text-align: center;
    padding-top: 9px;
}

#the-queue .the-queue-item .post-content { 
    border-top: 1px solid #eee;
    background: #FBFBFB;
    display: none; 
    text-align: left;
    position: relative;
}

#the-queue ul .the-queue-item:first-child .post-content {
    display: block;
}

#the-queue .the-queue-item .post-content ul {
    margin: 0px;
    position: relative;
}

#the-queue .the-queue-item .post-content ul li {
    padding: 8px;
    border-top: 1px solid #eee;
    margin-bottom: 0px;
    display: none;
    padding-right: 100px;
    position: relative;
    margin-left: 10px;
}

#the-queue .the-queue-item .post-content ul li:first-child {
    display: block;
    border-top: 0px;
}

#the-queue .the-queue-item .post-content ul li.visible {
    display: block !important;
}

#the-queue .the-queue-item .show-all-templates {
    cursor: pointer;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
}

#the-queue .the-queue-item .show-all-templates:hover {
    background: #FBFBFB;
}

#the-queue .queue-item-sidebar {
    border-top: 1px solid #eee;
}

#the-queue .queue-item-sidebar:after {
    clear:both;
    content: '';
    display: table;
}

#the-queue .queue-item-tools {
    margin-left: 48px;
    margin-right: 8px;
    margin-top: 0px;
    float: left;
}

#the-queue .queue-item-tools li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0px;
    margin-right: 10px;
}

#the-queue .queue-item-tools li a {
    text-decoration: none;
}

#the-queue .queue-icons {
    float: right;
    margin-top: 0px;
}

#the-queue .queue-icons li {
    display: inline-block;  
    margin-right: 10px;
    margin-bottom: 0px;
    height: 11px;
    line-height: 11px;
}

#the-queue .queue-icons li span { 
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    width: 11px;
}

#the-queue .button.active {
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.3);
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.3);
}

#queue-status {
    position: absolute;
    right: 5px;
    top: 5px;
}

#the-queue ul.simple .the-queue-item .post-content li:after {
    content: '';
    display: block;
    clear: both;
}

#the-queue ul.simple .the-queue-item .post-header .queue-item-tools,
#the-queue ul.simple .the-queue-item .post-content,
#the-queue ul.simple .queue-item-sidebar {
    display: none !important;
}

#the-queue ul.simple .the-queue-item .post-header .title {
    padding: 4px 4px 4px 48px;
}

#the-queue ul.simple .the-queue-item .post-header .drag-handler {
    padding-top: 6px;
}

#the-queue ul.simple .the-queue-item .post-header .drag-handler img {
    width: 14px;
}

#the-queue .item-icons {
    width: auto;
    float: right;
    margin-top: 0px;
    position: absolute !important;
    top: 9px;
    right: 10px;
}

#the-queue .item-icons li {
    float: left;
    display: block !important;
    border: 0px !important;
    padding: 0px !important;
    line-height: 18px;
    height: 18px;
}

#the-queue .item-icons li span { 
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    width: 11px;
}

.return-to-dashboard {
    text-align:center;
}

.tw-start-button.button {
    display: inline-block;
    width: 200px;
    line-height: 40px;
    height: 40px;
    padding: 0px 20px;
    background: #4F99D5;
    color: #fff;
    border: 0px;
    text-transform: uppercase;
}

.about-wrap .headline-feature h2 { text-align: center; }
